

.form {
    background-color: white;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    /* height: 600px; */
}
h3{
    background-color: black;
    color: white;
}
.form-body {
    text-align: left;
    padding: 20px 10px;
    border: 1px solid black;
    border: 5px;
    box-shadow: 0px 0px 20px 0px black;
}

.form-body>* {
    padding: 5px;
}

.form__label {
    width: 40%;
}

.form_input {
    width: 60%;
}

.footer {
    text-align: center;
}
input{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}